*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgba(0, 0, 0, 0.781);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 66px;
}

.logo img{
    width: 36px;
}

.logo{
    padding: 0 15px;
}

.content{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 50vw;
    padding: 32px 0;
    margin: auto;
    font-weight: bold;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 11px 9px !important;
}